
.cabecalho {
  background: url(/assets/imagens/fundo-cabecalho.png);
  background-size: cover;

  padding-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .auth {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: large;
      color: white;
    }

    :first-child {
      margin-right: 16px;
    }
  }

  .logo {
    width: 46%;
    padding: 2rem 3rem;

    img {
      width: 90%;
      max-width: 350px;
      margin-bottom: 2rem;
    }
  }

  .imagem{
    width: 40%;
  }

  p {
    font-size: 2rem;
    color: #6BD1FF;
  }
}

@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }
  .cabecalho p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  .cabecalho .logo {
    width: 90%;
  }
  .cabecalho .imagem {
    display: none;
  }
}
